* {
    margin: 0;
    padding: 0;
}

.app {
    display: grid;
    justify-items: center;
    font-size: large;
}

.container {
    width: fit-content;
    border: dashed 1px;
    margin: 8px;
    justify-items: center;
    padding: 8px;
    background: azure;
}

.search-form {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;

    input {
        background-color: white;
        font-size: large;
        border: 1px dashed;
        padding: 8px;
        transition: background-color 0.3s ease;
        text-transform: capitalize;

        &:focus {
            outline: none;
            background-color: whitesmoke;
        }

        &:hover {
            background-color: whitesmoke;
        }
    }

    button {
        background-color: white;
        font-size: large;
        border: dashed 1px;
        padding: 8px 16px;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover {
            background-color: whitesmoke;
        }
    }
}

.uppercase {
    text-transform: uppercase;
}

.header-list {
    padding: 8px 16px;
    background-color: white;
    font-size: large;
    border: 1px dashed;
}

.filter {
    padding: 8px;
    background-color: white;
    font-size: large;
    border: 1px dashed;
    padding: 8px;
    transition: background-color 0.3s ease;

    &:focus {
        outline: none;
        background-color: whitesmoke;
    }

    &:hover {
        background-color: whitesmoke;
    }
}

.radio-group {
    background-color: white;
    display: flex;
    padding: 8px 16px;
    border: 1px dashed;
    gap: 16px;

    &:hover {
        background-color: whitesmoke;
    }
}

.radio {
    display: flex;
    font-size: large;
    gap: 8px;

    input {
        cursor: pointer;
    }
}

.list {
    list-style: none;
    display: grid;
    gap: 8px;
}

.list-item {
    display: grid;
    grid-template-columns: 300px auto auto 120px;
    padding: 8px;
    border: 1px dashed;
    gap: 16px;
    background: white;
}

.info {
    display: grid;
    gap: 4px;
}

.right-align {
    margin-left: auto;
}

.name {
    word-break: break-word;
}
